// colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$white: #ffffff;
// TODO имена переменных заводить нейтральными для удобства редизайна

// resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

//normalize
@import './_misc/normalize.scss';

// media
@import './_misc/media';

// setups
@import './_misc/mixins';
@import './_misc/fonts';
@import './_misc/layout';

// components
@import './blocks/slide';
@import './blocks/hero';
@import './blocks/navi';
@import './blocks/header';
@import './blocks/btn';
@import './blocks/btn-burger';
@import './blocks/pagination';
@import './blocks/preview';
@import './blocks/mover';
@import './blocks/features';
@import './blocks/feature';
@import './blocks/price';
@import './blocks/ingredient';
@import './blocks/kkal';
@import './blocks/feedback';
@import './blocks/review';
@import './blocks/crew';
@import './blocks/card-member';
@import './blocks/order';
@import './blocks/carte';
@import './blocks/form';
@import './blocks/map';
@import './blocks/contacts';
@import './blocks/social';
@import './blocks/presentation';
@import './blocks/overlay';
@import './blocks/footer';