html {
   font-size: 16px;

   @include tablets {
      font-size: 15px;
   }

   @include phones {
      font-size: 13px;
   }
}

html,
body {
   height: 100%;
}

body {
   background: $white;
   font-size: rem(14px);
   @include ubuntu(light);
   color: $white;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
   border: 0;
}

* {
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: inherit;
   font-style: normal;
   display: block;
}

ul {
   margin: 0;
   padding: 0;

   li {
      list-style: none;
   }
}

button {
   color: inherit;
   border: none;
   outline: none;
   cursor: pointer;
}

address {
   font-style: normal;
}

img {
   display: block;
   // max-width: 100%;
}

footer {
   position: relative;
   width: 100%;
}

p {
   line-height: 1.6;
}


.wrapper {
   position: relative;
   overflow: hidden;
   width: 100%;
   min-height: 100%;
   //* smooth scroll
   // height: 100vh;
   // overflow: hidden;
}

.container {
   margin: 0 auto;
   height: 100%;
   width: 95%;
   max-width: rem(940px);
   position: relative;
   // padding: 0 rem(10px);

   &_flex-column {
      display: flex;
      flex-direction: column;
   }

   &_justify-center {
      justify-content: center;
   }
}

.fullpage {
   height: 100%;
   //* smooth scroll
   // overflow-y: scroll;
   // scroll-behavior: smooth;
   // scroll-snap-type: y mandatory;
}

