.header {
   padding: rem(12px) rem(0px);
   display: flex;
   align-items: center;
   justify-content: space-between;
   @include ubuntu(medium);
   font-size: 13px;
   z-index: 10;

   &__logo {
      position: relative;
      flex: 0 0 auto;
      z-index: 10;
      img {
         max-width: 92px;
      }
   }
}