.btn {
   @include ubuntu(medium);
   text-transform: uppercase;
   font-size: 13px;
   background: $red;
   padding: 10px 16px;
   border-radius: 5px;
   line-height: 1;
   display: inline-block;
   border: 2px solid transparent;
   outline: none;

   &_cancel {
      background: none;
      @include ubuntu(light);
   }

   &:focus {
      border: 2px solid $yellow;
   }
}