.btn {
   @include ubuntu(medium);
   text-transform: uppercase;
   font-size: rem(13px);
   background: $red;
   padding: rem(10px) rem(16px);
   border-radius: rem(5px);
   line-height: 1;
   display: inline-flex;
   border: rem(2px) solid transparent;
   outline: none;

   &_cancel {
      background: none;
      @include ubuntu(light);

      &:hover.btn {
         background: transparent;
         background: rgba($yellow, .2);
         transition: .2s;
      }
   }

   &:focus {
      border: rem(2px) solid $yellow;
   }

   &:hover {
      background: #c1401e;
      // color: $black;
      transition: .2s;
   }
}