.btn-navi-link {
   position: relative;
   align-items: center;
   // vertical-align: middle;
   height: rem(25px);
   margin: 0 rem(30px);
   transition: .1s;

   display: none;
   @include tablets {
      display: flex;
   }

   &:hover {
      transform: rotate(180deg);
      transition: .1s;
   }
}

.btn__burger {
   position: relative;
   
   &, &::before, &::after {
      content: '';
      background-color: $white;
      height: rem(5px);
      width: rem(24px);
      border-radius: rem(4px);
   }

   &::before, &::after {
      content: '';
      display: block;
      position: absolute;
   }
   &::before {
      top: 200%;
   }

   &::after {
      top: -200%;
   }
}