.card-member__item {
   margin-top: 20px;
   
   &:first-child {
      margin-top: 0;
   }
}


.card-member__link {
   display: inline-flex;
   align-items: center;
   @include gagalin();
   font-size: rem(14px);
   color: $white;

   &::before {
      content: '';
      display: inline-block;
      margin-right: 15px;
      width: 0;
      height: 0;
      border: rem(7px) solid transparent;
      border-left-width: rem(5px);
      border-right-width: rem(5px);
      border-top-color: $yellow;
      border-bottom: none;
   }

   @include tablets {
      margin-left: -20px;
      font-size: rem(24px);
   }
}

.card-member__trigger {
  display: flex;
  align-items: flex-start;
  height: 0;
  overflow: hidden;
  margin-top: rem(18px);
  padding-left: rem(17px);

  @include tablets {
      flex-direction: column;
      align-items: center;
      padding: 0 18%;
   }
}

.card-member__text {
   padding: 0 rem(20px);

   @include tablets {
      padding: 0;
   }

   span {
      @include ubuntu(bold);
   }

   p {
      margin-top: rem(15px);
   }
}

.card-member__img {
   display: block;
   margin: 0;
   width: rem(100px);
   flex: 0 0 auto;
   border-radius: 50%;
   background-size: cover;
   background-position: center;

   &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
      // !как это конструкция работает?
   }


   @include tablets {
      margin: 0 0 rem(15px) 0;
   }
}

.card-member_open {
   .card-member__trigger {
  height: 100%;
  overflow: visible;
}
  
   .card-member__link {
      color: $yellow;

      &::before {
         border: rem(7px) solid transparent;
         border-left-width: rem(5px);
         border-right-width: rem(5px);
         border-bottom-color: $yellow;
         border-top: none;
      }
   }
}
