.contacts {
   width: 50%;

   @include phones {
      margin-bottom: rem(15px);
      width: auto;
   }

   .contacts__phone {
      display: inline-block;
      color: $red;
      font-weight: 500;

      &:hover {
         transition: .3s;
         color: rgba($red, .7);
      }  
   }

   &__address {
      white-space: nowrap;
      margin-bottom: 5px;
   }
}