.contacts {
   width: 50%;

   @include phones {
      margin-bottom: rem(15px);
      width: auto;
   }

   .contacts__phone {
      display: inline-block;
      color: $red;
      font-weight: 500;
      fill: $red;

      &:hover {
         transition: .2s;
         color: rgba($red, .7);
         fill: rgba($red, .7);
      }  

      &-svg {
         width: 10px;
         height: 10px;
         margin-right: 5px;
      }
   }

   &__address {
      white-space: nowrap;
      margin-bottom: 5px;
   }
}