.crew {
   background: url('/img/crew/bg_crew.jpg') center top / cover no-repeat;
   position: relative;
   display: flex;
   justify-content: flex-end;

   &__content {
      background-color: rgba(47, 50, 52, .9);
      position: absolute;
      width: 50%;
      height: 100%;
      padding-left: 95px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
   }

   &__book {
      width: calc(960px / 2 - 110px);
   }

}

