.feature {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   
   @include phones {
      flex-direction: row;
   }

   &__subtitle {
      margin: rem(34px) rem(0px) rem(10px);
      line-height: 1.2;
      @include lifehack();
      font-size: rem(24px);

      @include phones {
         margin-top: 0;
      }
   }

   &__icon {
      height: rem(100px);
   }

   &__text {
      @include phones {
         text-align: left;
         margin-left: 5%;
      }
   }

   p {
      color: $black;
   }
}