.footer {
   background: url('/img/footer/chalkboard_texture.jpg') center center / cover no-repeat;
   padding: rem(11px) rem(0px);
   position: absolute;
   bottom: 0;

   @include phones {
      text-align: center;
   }

   &__container {
      display: flex;
      align-items: center;

      @include phones {
         flex-direction: column;
         // align-items: center;
      }
   }
}
