.form {
   display: flex;
   justify-content: space-between;

   @include tablets {
      flex-direction: column;
      align-items: center;
      padding: 0 15%;
   }

   @include tablets {
      padding: 0 10%;
   }

   &__col {
      width: calc(50% - 10px);

      @include tablets {
         width: 100%;
      }
   }

   &__row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: rem(15px);
   }

   &__label {
      margin-right: rem(20px);
      flex: 1;

      &:last-child {
         margin-right: 0;
      }
   }

   &__input {
      width: 100%;
      padding: rem(9px) rem(20px);
      border-radius: rem(5px);
      outline: transparent;
      border: rem(2px) solid transparent;
      margin-top: rem(5px);

      &:focus {
         border: rem(2px) solid $yellow;
      }
   }

   &__textarea {
      min-height: rem(113px);
   }


   &__radio {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: rem(20px);
      margin-bottom: rem(15px);

      &:last-child {
         margin-right: 0;
      }
   }

   &__input-radio {
      position: absolute;
      width: rem(1px);
      height: rem(1px);
      clip: rect(0 0 0 0);
      overflow: hidden;

      &:checked+.form__input-style::before {
         content: '';
         display: block;
         width: rem(7px);
         height: rem(7px);
         border-radius: 50%;
         background: $orange;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }

      &:focus+.form__input-style::after {
         content: '';
         display: block;
         width: rem(15px);
         height: rem(15px);
         border-radius: 50%;
         border: rem(2px) solid $yellow;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }

      &:focus+.form__checkbox-style::after {
         content: '';
         display: block;
         width: rem(14px);
         height: rem(14px);
         border: rem(2px) solid $yellow;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }

   &__input-style {
      display: block;
      margin-right: rem(10px);
      width: rem(16px);
      height: rem(16px);
      border-radius: 50%;
      background: $white;
      position: relative;
   }

   &__checkbox-style {
      display: block;
      position: relative;
      width: rem(16px);
      height: rem(16px);
      background: $white;
      margin-right: rem(10px);
   }
}