.hero {
   background: url('/img/hero/texture.png'), url('/img/hero/salat.jpg') center center / cover;
   color: $white;

   &__subtitle {
      @include lifehack();
      font-size: 65px;
      line-height: 1.2;
   }
}