.ingredient {
   position: absolute;
   bottom: 100%;
   width: rem(90px);
   height: rem(90px);
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
   background: #f08c33 url('../../img/icons-svg/burger.svg') center 30% / 50% no-repeat;
   cursor: pointer;
   z-index: 10;

   @include tablets {
      bottom: 90%;
   }

   &::before {
      content: 'состав';
      display: block;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      @include gagalin();
      font-size: rem(14px);
   }

   &:hover {
      background-color: $red;

      .ingredient__list {
         display: block;
      }
   }

   &__list {
      position: absolute;
      left: 100%;
      min-width: rem(270px);
      background-color: rgba($white, .9);
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      color: $black;
      padding: 18% 25%;
      overflow: hidden;
      display: none;
   }

   &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: rem(7px);

      &:last-child {
         margin-bottom: 0;
      }
   }

   &__svg {
      width: rem(45px);
      height: rem(45px);
   }

   &__name {
      flex: 1;
      text-align: left;
      font-weight: 500;
      margin-left: rem(20px);
   }
}