.kkal {
   position: absolute;
   top: 90%;
   @include gagalin();
   color: rgba($white, .5);

   @include tablets {
      top: inherit;
      bottom: 90%;
      right: 0;
   }

   &::before {
      content: 'ккал';
      font-size: rem(14px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 200%);
      -webkit-transform: translate(-50%, 200%);
      -moz-transform: translate(-50%, 200%);
      -ms-transform: translate(-50%, 200%);
      -o-transform: translate(-50%, 200%);
   }

   &__svg {
      fill: rgba($white, .5);
      width: rem(60px);
      height: rem(90px);
   }

   &::after {
      content: '1200';
      font-size: rem(20px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -20%);

   }

   // &__num {
   //    position: absolute;
   //    top: 50%;
   //    left: 50%;
   //    font-size: rem(20px);
   //    -webkit-transform: translate(-50%, -20%);
   //    -moz-transform: translate(-50%, -20%);
   //    -ms-transform: translate(-50%, -20%);
   //    -o-transform: translate(-50%, -20%);
   // }
}