$itemMargin: 15px;

.menu__list {
   display: flex;
   align-items: center;
   margin: 0px 10px;
}

.menu__item {
   display: flex;
   align-items: center;
   &::before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: currentColor;
      margin-left: $itemMargin;
   }
   &:first-child {
      &:before {
         display: none;
      }
   }
}

.menu__link {
   text-transform: uppercase;
   white-space: nowrap;
   margin-left: $itemMargin;
}