.mover {
   position: absolute;
   bottom: 40px;
   left: 50%;
   transform: translateX(-50%);
   width: 32px;
   height: 32px;
   background: url('/img/performance/arrow-scroll.png') center center / contain no-repeat;
}