.mover {
   position: absolute;
   bottom: rem(40px);
   left: 50%;
   transform: translateX(-50%);
   

   &__svg {
      display: block;
      width: rem(30px);
      height: rem(15px);
      fill: $white;
   }
}