.navi {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex: 1 1 auto;
}

.navi__list {
   display: flex;
   align-items: center;

   @include tablets {
      flex-direction: column;
      justify-content: center;
      font-size: rem(24px);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba($black, .99);
      display: none;
      overflow: auto;

      .navi__link {
         margin: 0;
      }

      .navi__item {
         flex-direction: column;
         margin: 0;
      
         &::before {
            margin: rem(20px) 0;
            width: rem(6px);
            height: rem(6px);
         }
      }

      .btn {
         display: none;
      }

      &_open {
         display: flex;
         z-index: 5
      }
   }
}

.navi__item {
   display: flex;
   align-items: center;
   margin-right: rem(12px);

   &::before {
      content: '';
      display: block;
      width: rem(4px);
      height: rem(4px);
      border-radius: 50%;
      background: currentColor;
   }

   &:first-child {
      &:before {
         display: none;
      }
   }
}

.navi__link {
   text-transform: uppercase;
   white-space: nowrap;
   margin-left: rem(12px);

   &:hover {
      color: $yellow;
   }
}