$itemMargin: rem(12px);

.navi {

   @include navi-menu {
      display: none;
   }

   &_block {
      display: block;
   }
}



.navi__list {
   display: flex;
   align-items: center;
}

.navi__item {
   display: flex;
   align-items: center;
   margin-right: $itemMargin;

   &::before {
      content: '';
      display: block;
      width: rem(4px);
      height: rem(4px);
      border-radius: 50%;
      background: currentColor;
   }

   &:first-child {
      &:before {
         display: none;
      }
   }
}

.navi__link {
   text-transform: uppercase;
   white-space: nowrap;
   margin-left: $itemMargin;

   &:hover {
      color: $yellow;
   }
}