.pagination {
   position: fixed;
   top: 50%;
   transform: translateY(-50%);
   right: rem(50px);
   z-index: 100;

   @include tablets {
      display: none;
   }

   &__item {
      margin-bottom: rem(15px);
      position: relative;
      
         &:last-child {
            margin-bottom: 0;
         }
      
         &-active::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: rem(13px);
            height: rem(13px);
            border: rem(1px) solid #fff;
            border-radius: 50%;
         }
      }

   &__link {
      background: $white;
      width: rem(8px);
      height: rem(8px);
      border: rem(1px) solid rgba($black, .5);
      border-radius: 50%;

      &:hover {
         background: #ccc;
      }
   }
}
