.performance {
   background: url('/img/performance/texture.png'), url('/img/performance/salat.jpg') center center / cover;
   color: $white;

   &__subtitle {
      @include lifehack();
      font-size: 65px;
      line-height: 1.2;
   }
}