$gray: #5a5a5a;

.social {
   display: flex;
   justify-content: flex-end;
   width: 50%;

   @include phones {
      justify-content: center;
      width: auto;
   }
   
   &__item {
      margin-right: rem(20px);

      &:last-child {
         margin-right: 0;
      }
   }

   &__link {
      display: flex;
   }

   &__svg {
      width: rem(20px);
      height: rem(20px);
      fill: $gray;

      &:hover {
         fill: $white;
         transition: .3s;
      }
   }
}
