.accordeon__item {
   margin-bottom: 35px;
   &:last-child {
      margin-bottom: 0;
   }
}
.accordeon__link {
   display: inline-block;
   @include gagalin();
   font-size: 14px;
   color: $white;
   
   &::before {
      content: '';
      display: inline-block;
      border: 7px solid transparent;
      border-left-width: 5px;
      border-right-width: 5px;
      border-top-color: $yellow;
      border-bottom: none;
      margin-right: 10px;
   }
}

.accordeon__item_activ {
   .card-member {
      height: 100%;
      overflow: visible;
   }

   .accordeon__link {
      color: $yellow;
      
      &::before {
         content: '';
         display: inline-block;
         border: 7px solid transparent;
         border-left-width: 5px;
         border-right-width: 5px;
         border-bottom-color: $yellow;
         border-top: none;
         margin-right: 10px;
      }
   }
}