.crew {
   background: url('/img/crew/bg_crew.jpg') center top / cover no-repeat;
   position: relative;
   display: flex;
   justify-content: flex-end;

   &__content {
      background-color: rgba($black, .9);
      position: absolute;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 7%;
      flex: 0 0 auto;

      @include tablets {
         width: 100%;
         text-align: center;
         // padding-left: 0;
      }
   }
}
