.order {
   background: $black url('/img/form/form-bg.jpg') center center / cover;

   &::before {
      content: '';
      background: url('/img/form/bg-texture.png') center center / cover no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
   }

   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
}

// ?? реализация два фона (правильно ли; варианты)