.overlay {
   background: rgba($black, .9);
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 1000;

   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include ubuntu(regular);
      color: $black;
      padding: 20px;
      max-width: 400px;
      min-width: 200px;
      min-height: 110px;
      background: $white;
      border-radius: 5px;
   }

   &__content {
      text-align: center;
      margin: 0 0 16px;
   }
}

